/* src/app.css */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@font-face {
  font-family: "Garamond Classico SC";
  src: url("/fonts/GaramondClassicoSC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

  font-family: "University Old Style";
  src: url("/fonts/UniversityOldStyle.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --ink: rgba(60, 55, 45, 0.92);;        /* near-black text */
  --paper: #fbfaf7;      /* “card stock” colour */
  --paper-edge: #e7e2d8; /* subtle border */

}

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--ink);
  font-family: "Garamond Classico SC", serif;
  background-image: url("/textures/wood.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}